@import "tools/_breakpoints";

$color: lightskyblue;

button {
	display: block;
	height: 50px;
	border: 2px solid #333;
	font-size: 150%;
	background-color: $color;
}

@include break-min("3") {
	button {
		background-color: red;
	}
}