.react-players-list {
	ul {
		list-style-type: none;
		padding-left: 0;
	}

	.list-go-button {
		display: block;
		padding: 10px;
		border: 0;
		margin: 0 auto;
		cursor: pointer;
		font-size: 1.4rem;
		background-color: #DCDCDC;
	}
}