header {
	background-color: #eee;

	h1 {
		font-size: 4rem;
		margin: 0 .2rem;
	}
}

main {
	overflow: auto;
}

.list-go-button {
	display: block;
	padding: 10px;
	border: 0;
	margin: 0 auto;
	cursor: pointer;
	font-size: 1.4rem;
	background-color: #DCDCDC;
}