
.list-item {

	border: 1px solid #ccc;
	border-radius: 3px;
	display: block;
	margin: 5px 0;
	height: 40px;
	display: flex;
	
	&:hover {
		background-color: #E4E9EE;
	}

	.list-index, .list-delete {
		height: 100%;
		line-height: 40px;
		display: inline-block;
		padding: 0 10px;
		min-width: 40px;
		text-align: center;
		background-color: #eee;
		border: none;
	}

	.list-delete {
		font-size: 1.5rem;
		cursor: pointer;
	}

	.list-name, .list-input {
		height: 29px;
		line-height: 29px;
		margin: 5px;
		padding: 0;
	}

	.list-name {
		flex: 1;
		cursor: pointer;
	}

	.list-input {
		font-size: 1rem;
		border: 0;
	}




}