
.react-bracket-matchup {
	$borderColor: #ccc;

	border: 1px solid $borderColor;
	margin-bottom: 10px;

	.matchup-header {
		background-color: #f1f1f1;
		//text-align: right;
		font-style: italic;
		font-weight: bold;
		padding: 3px;
		border-bottom: 1px solid $borderColor;
	}

	.matchup-entry {
		border-bottom: 1px solid $borderColor;
		padding: 10px;

		&:last-child {
			border-bottom: 0;
		}
	}

	.text-player {
		display: block;
		font-size: 1.5rem;
	}

	.text-extra {
		font-style: italic;
	}
}