$borderColor: #ccc;

.react-bracket-matchup {

	border: 1px solid $borderColor;
	margin-bottom: 1.5em;

	.matchup-header {
		background-color: #f1f1f1;
		//text-align: right;
		font-style: italic;
		font-weight: bold;
		padding: .5em;
		border-bottom: 1px solid $borderColor;
	}

	&.matchup-completed {
		opacity: .7;
	}

}

.matchup-highlighted .matchup-header {
	color: blue;
}

.matchup-entry {
	position: relative;
	border-bottom: 1px solid $borderColor;

	&:last-child {
		border-bottom: 0;
	}
	
	&.matchup-winner {
		.text-player {
			font-weight: bold;
		}
	}
	
	.text-player {
		display: block;
		font-size: 1.5em;
	}
	
	.text-extra {
		font-style: italic;
	}
	
	.matchup-winner-button {
		height: 100%;
		float: right;
	}

	.entry-data, .entry-action {
		padding: .5em;
	}

	&:nth-child(1).matchup-player-highlighted {
		color: red;
	}
	&:nth-child(2).matchup-player-highlighted {
		color: orange;
	}
	&:nth-child(3).matchup-player-highlighted {
		color: gold;
	}
	&:nth-child(4).matchup-player-highlighted {
		color: green;
	}
}

.entry-action .action-win {
	padding: .3em .8em;
}