
.list-item {
	font-size: 1.5em;

	border: 1px solid #ccc;
	border-radius: 3px;
	display: block;
	margin: .5em 0;
	height: 2em;
	display: flex;
	
	&:hover {
		background-color: #E4E9EE;
	}

	.list-index, .list-delete {
		height: 100%;
		line-height: 2em;
		display: inline-block;
		padding: 0 10px;
		min-width: 2em;
		text-align: center;
		background-color: #eee;
		border: none;
	}

	.list-delete {
		margin: 0;
		cursor: pointer;
	}

	.list-name, .list-input {
		height: calc(100% - 10px);
		line-height: 1.2em;
		font-size: 1.2em;
		margin: 5px 10px;
		padding: 0;
	}

	.list-name {
		flex: 1;
		cursor: pointer;
	}

	.list-input {
		border: 0;
	}
}